/* petshop/src/styles/Navbar.css */

.navbar {
    max-width: 100%;
    height: 110px;
    background: #DF995B;  
    display: flex;
    flex-direction: row;
  }
  
  .navbar .leftSide {
    flex: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 100px;
  }
  
  .navbar .leftSide img {
    max-width: 150px;
  }
  
  .navbar .rightSide {
    flex: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: right;
  }
  
  .navbar a {
    font-size: 1.5rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: white;
    text-decoration: none;
    margin: 30px;
  }
  header .navbar a.active,
  header .navbar a:hover {
    color: white;
    background-color: var(--brown); 
  }
  
  .navbar .rightSide button {
    background-color: var(--brown);
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    cursor: pointer;
  }
  
  .navbar .rightSide svg {
    font-size: 60px;
  }
  
  .navbar #open {
    padding-left: 0px;
  }
  .navbar #open img {
    display: none;
  }
  
  .navbar #close img {
    display: inherit;
  }
  
  .navbar #open .hiddenLinks {
    display: inherit;
    margin-left: 30px;
  }
  
  .navbar #close .hiddenLinks {
    display: none;
  }
  
  .navbar #open a {
    max-width: 70px;
    margin: 5px;
  }
  @media only screen and (max-width: 900px) {
    .navbar .rightSide a {
      max-width: 70px;
    }
    .navbar .leftSide {
      padding-left: 50px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .navbar .rightSide a {
      display: none;
    }
  
    .navbar .rightSide {
      justify-content: flex-end;
      padding-right: 50px;
    }
  
    .navbar .rightSide button {
      display: inherit;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .navbar .rightSide button {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  }

