.servicos {
    background-color: #faf4ef;
    margin-bottom: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 0.5;
    padding: 0 1em;

    .banner {
        margin-bottom: auto;
        background-image: url(../assets/Yorkie_tosa.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        line-height: 0.5;
        padding: 0 1em;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: 600;
        color: black;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 600;
        color: #DF995B;
    }

    h4 {
        font-size: 2.0rem;
        font-weight: 600;
        color: black;
    }

    button {
        background-color: #DF995B;
        color: white;
        text-decoration: none;
        transition: 0.3s ease-in;
        font-size: 25px;
        font-weight: regular;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        line-height: 0;
        padding: 20px 90px;
        display: inline-block;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        margin: 4px 2px;

        &:hover {
            color: #DF995B;
            background-color: white;
        }
    }

    .check {
        display:inline-block;
        font-size: 20px;
        font-weight: 600;
        color: black;
        justify-content: left;
        align-items: left;
        flex-direction: column;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        line-height: 2.5;
        padding: 0 1em;

        input {
            margin-right: 10px;
        }

    }


}